
.deaths{
    color:darkgrey;
    
    }
.recovered{
    color:green;
}
.present{
    color:red;
}
.helpline-heading{
    font-size: 8vh;
    padding-top: 2vh;
    margin-bottom: 5vh;
}
.graphs{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: "center"
    }
    @media only screen and (max-width: 1000px) {
        .graphs{
            display:flex;
            flex-direction: column;
            align-items: "centre";
            justify-content: center;
            }
            .info{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
      }tr:nth-child(even) {background-color:#e3e5e8;}

      .info{
          
          display: flex;
          justify-content: space-around;
          
      }
    body{
        font-family: 'Roboto Mono', monospace;
    }